.App{
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas: "nav header"
    "nav content"
    "nav footer";
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px 1fr 80px;
}


.content{
  grid-area: content;
  padding: 0 10%;
}

.paragraph{
  background-color: rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 15%;
  
  & .title{
    font-weight: 700;
    margin-bottom: 20px;
  }
}


.grid{
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 200px;
  gap: 50px;

  &-item{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title{
      font-weight: 700;
      font-size: 1.5rem;
    }

    &>.body{
      img{
        float: left;
        width: 100px;
        height: 120px;
        margin-right: 10px;
      }
    }
  }
}


@media (max-width: 1024px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px){
  .grid{
    grid-template-columns: 100%;
  }
}


@media (max-width: 768px){
  .App{
    grid-template-columns: 1fr;
  }
}